#thumbs {
  position:relative;
  margin-top:22px;
  width:60px;
  height:356px;
  margin-bottom:40px;
  float:left;
  margin-right: .5em;
}

#thumbs .thumbelina-but.vert {
  width:60px;
}

#czoom .image {
  float: left;
}

#czoom.nojs .thumbelina-but {
  display:none;
}

#czoom.nojs #thumbs {
  margin-top:0;
  margin-bottom:0;
  overflow-x:scroll;
  width:80px;
  height:400px;
}